* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

#header-container {
    height: 80px;
    background-color: #ABB2B9;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-text {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 800;
}

#nav-bar {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#nav-form {
    display: flex;
    justify-content: right;

}

#search-label {
    float: left;
    margin-right: 16px;
}

#search-label>span {
    text-transform: uppercase;
    font-size: 20px;
}

#search-form>input {
    padding: 6px 0;
    border: none;
}

#search-form>button {
    
}

#search-form>button>img {
    width: 20px;
}

#main-div {
    height: 1000px;
    background-color: #E8DAEF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    width: 90%;
    height: 90%;
    background-color: #17202A;
    box-shadow: 0 3px 15px black;
}

#movie-cover-container {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
}

.movie-cover {
    height: 20em;
    width: 15em;
    margin: 25px
}

#footer-container {
    height: 200px;
    background-color: #ABB2B9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-p {
    font-weight: bold;
}